@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(212deg, 45%, 89%);
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  -webkit-box-shadow: 0 0 1px hsl(218deg, 44%, 22%);
          box-shadow: 0 0 1px hsl(218deg, 44%, 22%);
  background-color: hsl(0deg, 0%, 100%);
  max-width: 20rem;
  height: 31.5rem;
  border-radius: 10px;
  padding: 15px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card h1 {
  text-align: center;
  padding: 0 5px;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  color: hsl(218deg, 44%, 22%);
  margin: 20px 0px;
}
.card p {
  text-align: center;
  padding: 0 5px;
  font-family: "Outfit", sans-serif;
  color: hsl(220deg, 15%, 55%);
}

div.attribution {
  text-align: center;
  padding: 0 5px;
  font-family: "Outfit", sans-serif;
  font-size: 11px;
}
div.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}